* {
  box-sizing: border-box;
}
*:focus {
    outline: 0 !important;
}
body {

}
body .logo a{
    color: #4b4b4b !important;
    text-decoration: none;
}
body .ui-page .ui-content {
  flex: 1;
}
.ui-content{
    text-align: center;
}
.ui-content.justified-content {
    text-align: justify;
}
.ui-content p {
    margin-bottom: 30px;
}
.ui-content .ui-btn.ui-mini.ui-corner-all {
    padding: 10px 30px;
}
#add-contacts .ui-content > p {
    margin: 20px;
}
#home .ui-content {
    display: flex;
    flex-wrap: wrap;
}
#home .ui-content a.ui-btn.ui-btn-inline {
    white-space: normal;
    width: 44%;
    text-overflow: initial;
    padding: 40px 25px 25px;
    color: #5d5d5d;
    margin: 10px 3%;
    align-items: center;
    display: flex;
    justify-content: center;
}
a.ui-btn-left.ui-btn.ui-icon-home.ui-btn-icon-notext.ui-shadow.ui-corner-all {
    width: 32px;
    height: 32px;
}
.ui-popup-screen.ui-overlay-inherit.in {
    background-color: #000;
}
.ui-popup .ui-header .ui-title, .ui-popup .ui-footer .ui-title {
    text-overflow: initial;
    white-space: normal;
    padding: 10px 0px;
    margin: 0;
    text-align: center;
}
/*.ui-popup-container.fade.in.ui-popup-active {
    min-width: 250px !important;
    width: 100%;
    left: 10% !important;
    max-width: 250px !important;
    animation-duration: 0ms !important;
}*/
